html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  color: white;
  font-family: Georama-Rg, Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  background-image: url("./img/background.png");
=======
  background-image: url("./img/background.png");
>>>>>>> c632753c98e7619e0c427b1e84c8ac9202637a19
  background-size: cover;       /* scale vừa màn hình */
  background-position: center;  /* canh giữa */
  background-repeat: no-repeat; /* không lặp */
  background-attachment: fixed; /* đứng yên khi scroll (desktop) */
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.credits {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 1.8;
  padding: 0 10%;
  box-sizing: border-box;
  will-change: transform; /* quan trọng */
}
.credits h2{
  text-align:center;
}

.credits p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#df5234;
}
#tieude{
  font-size: 50px;
  text-align: center;
  color: #4a3b2a;
  font-weight: 100px;

}

